.p-inputtext {
    box-shadow: $inputShadow;
}

.p-inputtext:disabled {
    opacity: 1;
    background-color: $disabledInputBg;
    color: $textSecondaryColor;
}

/* Style du label lorsqu'il est flottant (focus ou rempli) */
.p-float-label input:focus ~ label,
.p-float-label input.p-filled ~ label,
.p-float-label textarea:focus ~ label,
.p-float-label textarea.p-filled ~ label,
.p-float-label .p-inputwrapper-focus ~ label,
.p-float-label .p-inputwrapper-filled ~ label {
  top: -0.25rem;
  font-size: 0.7rem;
  font-style: italic;
  color: $textSecondaryColor;
}
