<div class="login">
  <div class="login-card">

    <div class="wbox-header">
      <div class="title">
          <i class="pi pi-lock"></i>
          <span >Connectez</span>-vous
        </div>
        @if(loginFilled()) {
          <div class="back-c" (click)="backtoLogin()">
            <i class="pi pi-step-backward"></i>
            <a class="back">{{loginForm.get('login').value}}</a></div>
        }
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSignin()">

      @if (!loginFilled()) {
        <span class="form-elem p-float-label login-input">
          <app-input formControlName="login" label="Nom d'utilisateur" required (keydown.Tab)="onSubmitUsername()"
            (keyup.enter)="onSubmitUsername()"></app-input>
      
          <button pButton type="button" (click)="onSubmitUsername()" class="p-button-lg_square" icon="pi pi-chevron-right"></button>
        </span>
      }

      @else {
        <span *ngIf="loginFilled()" class="form-elem p-float-label input-password">
          <app-input type="password" formControlName="password" label="Mot de passe" required [autofocus]="true"></app-input>
          <button pButton type="submit" class="p-button-lg_square" icon="pi pi-lock-open"></button>
            <!-- <a href="" class="lost_password">J'ai perdu mon mot de passe</a> -->
        </span>
      }
    
    </form>

  </div>
</div>
