<div [ngClass]="structure().archivedAt ? 'card archive':'card'">
  <div #cardTop class="card-top only">


      <app-avatar
        class="avatar"
        [avatarUrl]="structure().avatarUrl"
        [fullname]="structure().name"
        [size]="60"
      ></app-avatar>

      @if (withMenu()) {
      <i class="icon-menu" (click)="onMenuClick($event, menu)">
        <p-menu
          #menu
          [model]="menuItemsInput()"
          [popup]="true"
          appendTo="body"
        ></p-menu>
      </i>
      }

      <div [ngClass]="withMenu() ? 'card-content with-menu' : 'card-content'" (click)="openStructure.emit(structure().id)">
        <div class="card-main-info">
          <div class="card-top-title">
            {{ structure().name }}
          </div>

          <div class="addresses">
            <div class="address">
              {{ structure().address?.streetL1 }}
              {{ structure().address?.streetL2 }}
            </div>
            <div class="card-address">
              {{ structure().address?.postcode }}
              {{ structure().address?.city }} {{ structure().address?.country }}
            </div>
          </div>
        </div>

        @if(structure().archivedAt) {
        <div class="archive-info">Archivée<i class="icon-archive"></i></div>
        }
      </div>

    </div>

  </div>

