@import "@assets/knacss/mixin.scss";

.sidebar {
  display: flex;
  height: 100vh;
  overflow: hidden;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
  width: 100%;

  .panel-top-menu {
    width: 60px;
    background-color: var(--primary-light-color);
    cursor: pointer;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include md {
      width: 50px;
    }

    @include sm {
      width: 40px;
    }

    a {
      width: 100%;
      height: 100%;
      color: white;
      transition: color 0.3s ease-in-out;
      font-size: 25px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: var(--shade-700);
      }

      @include md {
        font-size: 22px;
      }

      @include sm {
        font-size: 19px;
      }
    }

    .back-link {
      border-top: 1px dashed white;
    }

  }

  .panel {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: relative;
    background-color: #3F3F3F;
    width: 60px;


    @include md {
      width: 50px;
    }

    @include sm {
      width: 40px;
    }

    .mask {
      background-color: white;
    }

    .navbar {
      --mask-height: 76px;
      overflow-y: auto;
      max-height: 100vh;
      flex: 1;
      width: 100%;

      @media screen and (max-height: 599px) {
        background-color: #3F3F3F;
        overflow-y: auto;
        scrollbar-width: thin;
      }

      @media screen and (min-height: 600px) {
        &:before {
          background-color: #3F3F3F;
          content: "";
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          mask: var(--nav-mask) right no-repeat, linear-gradient(#fff 0 0);
          mask-size: auto var(--mask-height);
          /* we need this extra layer for mask-composite */
          -webkit-mask: var(--nav-mask) right no-repeat, linear-gradient(#fff 0 0);
          -webkit-mask-size: auto var(--mask-height);
          -webkit-mask-position-y: var(--ngVar_maskY);
          -webkit-mask-composite: destination-out;
          mask-composite: exclude;
          transition: -webkit-mask-position-y ease 0.3s;
          transform-style: preserve-3d;
          transform: translate3d(0px, 0px, 0px);
        }
      }


      ul {
        list-style: none;
        padding: 20px 0 8px 0;
      }
    }

    li {
      min-height: 50px;
      z-index: 9;

      i {
        transition: color 0.3s ease;
        font-size: 29px;

        @include md {
          font-size: 26px;
        }

        @include sm {
          font-size: 23px;
        }

      }
    }

    li.active {
      background-color: white;

      i {
        color: var(--primary-light-color);
      }
    }

    a {
      height: 60px;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      cursor: pointer;
      position: relative;
      margin: auto;

      @include sm {
        height: 54px;
      }
    }

  }

  footer {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    white-space: nowrap;
    gap: 14px;
    height: fit-content;
    margin-top: auto;
    color: white;
    background-color: var(--primary-light-color);
    z-index: 110;
    padding: 15px 0px 10px 0;

    @include md {
      height: 50px;
      font-size: 22px;
      line-height: 50px;
    }

    @include sm {
      height: 40px;
      font-size: 18px;
      line-height: 40px;
    }

    span {
      cursor: default;
      user-select: none;
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      font-weight: 300;
      font-size: 24px;
      letter-spacing: 2px;
      font-style: italic;
      text-transform: uppercase;
      background-color: var(--primary-light-color);
    }


    i {
      top: 7px;
      left: -3px;
      font-size: 33px;

      @include md {
        font-size: 30px;
        top: 5px;
        left: 0px;
      }

      @include sm {
        font-size: 24px;
        top: 5px;
        left: 12px;
      }
    }

  }

  .content {
    flex: 1;
    background: white;
    padding: 30px;
    overflow-y: hidden;

    @include lg {
      padding: 20px;
    }

    @include md {
      padding: 15px;
    }

    @include sm {
      padding: 10px;
    }
  }

}