
<span 
class="form-elem p-float-label"
[class.p-input-icon-left]="classIcon() !== '' && iconSide() === 'left'" 
[class.p-input-icon-right]="classIcon() !== '' && iconSide() === 'right'"
>

<ng-container *ngIf="classIcon() !== ''">
  <i [class]="classIcon()"></i>
</ng-container>

<input
pInputText
pAutoFocus
autocomplete="off"
[autofocus]="autofocus"
[class]="classInput()"
[type]="type()"
[formControl]="control"
[max]="max() ? max() : null"
[min]="min() ? min() : null"
(input)="onValueChange($event)"
/>

<label [class]="classLabel()">{{ label() }}</label>

<ng-container *ngIf="control?.invalid && control?.dirty && errorMessage()">
  <small [class]="classSmall()">{{ errorMessage() }}</small>
</ng-container>

</span>
