@use 'sass:math';

.p-inputswitch {
    width: $inputSwitchWidth;
    height: $inputSwitchHeight;

    .p-inputswitch-slider {
        background: $inputSwitchSliderOffBg;
        transition: $formElementTransition;
        border-radius: $inputSwitchBorderRadius;
        box-shadow: inset 0 3px 6px rgba(0,0,0,0.45);

        &:before {
            background: $inputSwitchHandleOffBg;
            width: $inputSwitchHandleWidth;
            height: $inputSwitchHandleHeight;
            left: $inputSwitchSliderPadding;
            margin-top: math.div(-1 * $inputSwitchHandleHeight, 2);
            border-radius: $inputSwitchHandleBorderRadius;
            transition-duration: $transitionDuration;
            box-shadow: 0 2px 8px rgba(0,0,0,0.38);
        }
    }

    &.p-inputswitch-checked {
        .p-inputswitch-slider:before {
            transform: translateX($inputSwitchHandleWidth);
        }
    }

    &.p-focus {
        .p-inputswitch-slider {
            @include focused();
            box-shadow: inset 0 3px 6px rgba(0,0,0,0.45);
        }
    }

    &:not(.p-disabled):hover {
        .p-inputswitch-slider {
            background: $inputSwitchSliderOffHoverBg;
        }
    }

    &.p-inputswitch-checked {
        .p-inputswitch-slider {
            background: $inputSwitchSliderOnBg;
            box-shadow: 0px 1px 9px color-mix(in srgb, $primaryColor 100%, transparent), inset 0 3px 6px rgba(0,0,0,0.45);
            

            &:before {
                background: $inputSwitchHandleOnBg;
             }
        }

        &:not(.p-disabled):hover {
            .p-inputswitch-slider {
                background: $inputSwitchSliderOnHoverBg;
            }
        }
    }

}

label + p-inputswitch{
    margin-left: 10px;
    cursor: pointer;
}

p-inputswitch {
    display: inline-block;
    vertical-align: middle;

    + label{
        margin-left: 10px;
        cursor: pointer;
    }    

    &.ng-dirty.ng-invalid > .p-inputswitch {
        @include invalid-input();
    }
}
