$primaryColor: #3B82F6 !default;
$primaryDarkColor: #2563eb !default;
$primaryDarkerColor: #1D4ED8 !default;
$primaryTextColor: #ffffff !default;

$highlightBg: #EFF6FF !default;
$highlightTextColor: $primaryDarkerColor !default;
$highlightFocusBg: rgba($primaryColor, .24) !default;

@import '../_variables';
@import './_fonts';
@import '../../../../theme-base/_components';
@import '../extensions/_extensions';

@mixin sm {
  @media (max-width: 575px) {
    @content;
  }
}

@mixin md {
  @media (min-width: 576px) and (max-width: 991px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 992px) and (max-width: 1399px) {
    @content;
  }
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-family: 'Lato', sans-serif;
}
.gap-4 {gap: 4px};
.gap-5 {gap: 5px};
.gap-6 {gap: 6px};
.gap-8 {gap: 8px};
.gap-10 {gap: 10px};
.gap-12 {gap: 12px};
.gap-16 {gap: 16px};
.gap-20 {gap: 20px};

.p-float-label input {
  width: 100%;
}

.title {
  font-weight: 600;
  font-family: 'Lato', sans-serif;
}

.subtitle {
  color: $textSecondaryColor;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

a {
  cursor: pointer;
  color: $primaryColor;
  &:hover {
    color:  $primaryDarkerColor;
    transition: 0.25s ease-in-out;
  }
}

body, button, input, textarea {
  font-family: 'Roboto', sans-serif;
}

html {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"!important;
  color: #020617;
  font-size: 16px;
  @include lg {
    font-size: 0.9rem;
  }
  @include md {
    font-size: 0.8rem;
  }
  @include sm {
    font-size: 0.7rem;
  }
}
