@import "@assets/knacss/mixin.scss";

.auth-container {
  height: 100vh;
  width: 100%;
  background-image: var(--login-bg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 

.auth-in {
  background-color: #FFFFFF;
  border-radius: 8px;
  min-width: 600px;
  max-width: 1000px;
  max-height: 80vh;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.2);
  padding: 1rem 0.8rem 1rem 0.8rem;
  min-width: 600px;
  overflow: auto;
  @include sm {
    width: 100%;
    max-height: 90vh;
  }
}
}