<div class="main-grid gap-medium" *ngIf="user$ | async as user">


  <app-user-info class="widget height-auto" (saved)="reload()" [user]="user" [sectionDisplayed]="sectionDisplayed()"
    (edit)="onEdit($event)" />
  @if(sectionActionsDisplayed) {

  <div class="widget widget-padding height-auto">

    <div class="flex flex-col gap-medium">
      <app-widget-title title="Actions d'administrations" subtitle="Ces actions peuvent avoir des répercussions sur l'intégralité des données" icon="icon-gears"></app-widget-title>
      <div class="actions">
        <p-button severity="warning" icon="icon-archive" [label]="user.archive ? 'Désarchiver' : 'Archiver'" (click)="archive()"></p-button>
        <p-button severity="danger" icon="icon-trashcan" label="!! Supprimer !!"
          (click)="showDeleteModal.set(true)"></p-button>
      </div>
    </div>
  </div>
  }

  @if (sectionStructuresDisplayed) {
  <app-user-structures class="widget" [user]="user" (listUpdated)="reload()"
    (displayStructureView)="displayStructureView.emit($event)"></app-user-structures>
  }

</div>




<app-modal-confirm-delete (delete)="onDelete()" title="Voulez-vous supprimer cet utilisateur de façon permanente ?"
  (closeDialog)="showDeleteModal.set(false)" [visible]="showDeleteModal()"></app-modal-confirm-delete>