@import "@assets/knacss/mixin.scss";

.main-grid {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  overflow: hidden;

  .widget-action {
    min-height: 0;
  }

}