@import "@assets/knacss/mixin.scss";

.main-grid {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr; /* Une seule colonne */
  grid-auto-rows: auto auto auto;

  .widget-action {
    min-height: 0;
  }
}