
  <div class="dashboard grid grid-cols-12 lg:gap-large gap-small">

    <div class="col-span-full grid grid-cols-s1 md:grid-cols-3 lg:gap-large gap-small first-section">
      <div class="widget">
        <i class="pi pi-home"></i>
      </div>
      <div class="widget">
        <i class="pi pi-hashtag"></i>
      </div>
      <div class="widget">
        <i class="pi pi-bell"></i>
      </div>
    </div> 
    
    <div class="widget col-span-full md:col-span-6 second-section">
      <app-widget-title title="Titre du widget" subtitle="Lorem ipsum dolor sit ame, consectetur"></app-widget-title>
  
        <ul>
          <li>
            <div>Aenean euismod elementum</div>
            <div>Vitae turpis massa sed elementum tempus egestas
              sed
              sed risus.
              In metus vulputate eu scelerisque felis imperdiet proin.</div>
          </li>
          <li>
            <div>In iaculis nunc sed augue lacus</div>
            <div>Viverra vitae congue. Nisi scelerisque eu
              ultrices
              vitae auctor eu augue ut lectus.
              Elementum eu facilisis sed odio morbi.</div>
          </li>
          <li>
            <div>Proin sagittis nisl rhoncus</div>
            <div>In pellentesque massa placerat duis ultricies
              lacus.
              Ac feugiat sed lectus vestibulum mattis ullamcorper.</div>
          </li>
        </ul>
  
    </div>
  
    <div class="widget col-span-full md:col-span-6">
      <app-widget-title title="Titre du widget" subtitle="Lorem ipsum dolor sit ame, consectetur"></app-widget-title>
  
        <ul>
          <li>
            <div>Aenean euismod elementum</div>
            <div>Vitae turpis massa sed elementum tempus egestas
              sed
              sed risus.
              In metus vulputate eu scelerisque felis imperdiet proin.</div>
          </li>
          <li>
            <div>In iaculis nunc sed augue lacus</div>
            <div>Viverra vitae congue. Nisi scelerisque eu
              ultrices
              vitae auctor eu augue ut lectus.
              Elementum eu facilisis sed odio morbi.</div>
          </li>
          <li>
            <div>Proin sagittis nisl rhoncus</div>
            <div>In pellentesque massa placerat duis ultricies
              lacus.
              Ac feugiat sed lectus vestibulum mattis ullamcorper.</div>
          </li>
        </ul>
  
    </div>
  
  
    <div class="widget col-span-full lg:col-span-4">
      <app-widget-title title="Titre du widget" subtitle="Lorem ipsum dolor sit ame, consectetur"></app-widget-title>
  
      <ul>
        <li>
          <div>Aenean euismod elementum</div>
          <div>Vitae turpis massa sed elementum tempus egestas
            sed
            sed risus.
            In metus vulputate eu scelerisque felis imperdiet proin.</div>
        </li>
        <li>
          <div>In iaculis nunc sed augue lacus</div>
          <div>Viverra vitae congue. Nisi scelerisque eu
            ultrices
            vitae auctor eu augue ut lectus.
            Elementum eu facilisis sed odio morbi.</div>
        </li>
        <li>
          <div>Proin sagittis nisl rhoncus</div>
          <div>In pellentesque massa placerat duis ultricies
            lacus.
            Ac feugiat sed lectus vestibulum mattis ullamcorper.</div>
        </li>
      </ul>
    </div>
  
    <div class="widget col-span-full lg:col-span-4">
      <app-widget-title title="Titre du widget" subtitle="Lorem ipsum dolor sit ame, consectetur"></app-widget-title>
  
      <ul>
        <li>
          <div>Aenean euismod elementum</div>
          <div>Vitae turpis massa sed elementum tempus egestas
            sed
            sed risus.
            In metus vulputate eu scelerisque felis imperdiet proin.</div>
        </li>
        <li>
          <div>In iaculis nunc sed augue lacus</div>
          <div>Viverra vitae congue. Nisi scelerisque eu
            ultrices
            vitae auctor eu augue ut lectus.
            Elementum eu facilisis sed odio morbi.</div>
        </li>
        <li>
          <div>Proin sagittis nisl rhoncus</div>
          <div>In pellentesque massa placerat duis ultricies
            lacus.
            Ac feugiat sed lectus vestibulum mattis ullamcorper.</div>
        </li>
      </ul>
    </div>
  
    <div class="widget col-span-full lg:col-span-4">
      <app-widget-title title="Titre du widget" subtitle="Lorem ipsum dolor sit ame, consectetur"></app-widget-title>
  
      <ul>
        <li>
          <div>Aenean euismod elementum</div>
          <div>Vitae turpis massa sed elementum tempus egestas
            sed
            sed risus.
            In metus vulputate eu scelerisque felis imperdiet proin.</div>
        </li>
        <li>
          <div>In iaculis nunc sed augue lacus</div>
          <div>Viverra vitae congue. Nisi scelerisque eu
            ultrices
            vitae auctor eu augue ut lectus.
            Elementum eu facilisis sed odio morbi.</div>
        </li>
        <li>
          <div>Proin sagittis nisl rhoncus</div>
          <div>In pellentesque massa placerat duis ultricies
            lacus.
            Ac feugiat sed lectus vestibulum mattis ullamcorper.</div>
        </li>
      </ul>
    </div>
  
  </div>
