<div class="main-layout" [class.no-navbar]="!showNavbar()">

  @if (showNavbar()) {
  <app-primary-navbar></app-primary-navbar>
  }

  <div class="main-content">
    @if(showHeader()) {
      <app-page-header></app-page-header>
    }
    <div class="content">
      <router-outlet />
    </div>
  </div>

</div>

<app-form-dialog [visible]="modalAuxiliaryRoute()" [size]="modalSize() || 'xxlarge'" (closeDialog)="closeDialog()">
  <router-outlet name="modal"></router-outlet>
</app-form-dialog>

<!-- showCloseIcon is false beacause we use our button instead of the default close icon of prime ng -->

<p-sidebar [visible]="panelService.isPanelVisible()" (onHide)="closePanel()" [class.wide]="classWidePanel()"
  position="right" showCloseIcon="false" [class.with-backward]="panelService.canGoBack() ? true : true"
  transitionOptions="300ms cubic-bezier(0, 0, 0.2, 1)">
  <router-outlet name="panel"></router-outlet>
</p-sidebar>

<p-toast [life]="4000" position="top-right"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>