@import "@assets/knacss/mixin.scss";

.main-layout {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;


  &.no-navbar {
    .main-content {
      padding: 0;
    } 

    .content {
      height: 100%;
    }
  }

  app-primary-navbar {
    flex-shrink: 0;
    height: 100%;
    display: block;
    color: white;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    width: 75px;
  }

  .main-content {
    padding: 20px 50px; 
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    @include lg {
      padding: 10px 25px;
    }

    @include md {
      padding: 10px;
    }

    @include sm {
      padding: 10px;
    }


    app-page-header {
      flex-shrink: 0;
    }

    .content {
      height: 100%;
      width: 100%;
      overflow: auto;
    }
  }
}