@import "@assets/knacss/mixin.scss";
.main-layout {
  display: grid;
  grid-template-columns: auto 1fr; /* Barre de navigation et contenu principal */
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;    

  &.no-navbar {
  //  display: block;
  grid-template-columns: 1fr;
  height: 100vh;
    .main-content {
      padding: 0; /* Pas de remplissage si pas de navbar */
      display: block;
    }
  }

  .main-nav {
    min-width: 75px; /* Largeur minimale de la barre de navigation */
    @include md {
      min-width: 50px;
    }
    @include sm {
      min-width: 40px;
    }
    height: 100vh;
  }

  .main-content {
    padding: 20px 50px;
    height: 100vh; /* Hauteur totale */
    display: grid; /* Utilisation de la grille pour le contenu */
    width: 100%;
    grid-template-columns: 1fr;
    row-gap: 10px;
    grid-template-rows: auto auto minmax(0, 1fr); /* Adaptation des lignes */
    position: relative;
    overflow: auto; /* Autorise le défilement si nécessaire */

    /* Ajustements selon les tailles d'écran */
    @include lg {
      padding: 15px 30px;
    }

    @include md {
      padding: 10px 25px;
    }
    
    @include sm {
      padding: 10px;
    }
  }
}