<app-widget class="user-info">

  <div header class="widget-top">
  <i type="button" (click)="update()" class="icon-edit"></i>

  <div class="user-info-name">
    <app-avatar class="avatar" [avatarUrl]="user().avatarUrl" [fullname]="user().firstname + ' ' + user().lastname"></app-avatar>
    <div class="names">
      <div class="fullname">
        <span class="name">{{user().firstname}}</span>&nbsp;
        <span class="firstname">{{user().lastname}}</span>
      </div>
      <div class="roles" *ngIf="user().roles.length > 0">
        <ng-container *ngFor="let role of user().roles; let last = last">
          <div>{{ role.role }}<span *ngIf="!last">,</span></div>
        </ng-container>
      </div>
    </div>
  </div>
</div>


    <ng-container body *ngIf="!!user().address">


    <div class="localisation">
      <div class="small-title"><i class="icon-location"></i>Localisation</div>
  
      <div class="localisation-main">
          <div class="localisation-main-value">{{ user().address.streetL1?? 'Non renseigné' }}</div>
          <div class="localisation-main-value">{{  user().address.streetL2?? 'Non renseigné' }}</div>
          <div class="localisation-main-value">{{  user().address.postcode?? 'Non renseigné' }} {{  user().address.city?? 'Non renseigné' }}</div>
          <app-flag class="localisation-main-value" [countryCode]=" user().address.country?? 'Non renseigné'"></app-flag>
          
          <ng-container *ngIf=" user().address.latitude &&  user().address.longitude">
            <a [href]="'https://www.openstreetmap.org/?mlat=' +  user().address.latitude + '&mlon=' +  user().address.longitude"
              target="_blank" class="color-link">
              <span>Voir sur la carte</span> <i class="icon-maps"></i>
            </a>
          </ng-container>
    
      </div>
    </div>

  

  @if (!!user().phone || !!user().email) {
    <div class="small-title">
      <i class="icon-information"></i>
      Informations de contact
    </div>
  
    <div class="coordinates">
      <div class="contact-info">
    
          <a href="tel:{{user().phone}}" class="coordinate">
            <span class="icon-phone coordinate-icon"></span>{{user().phone}}
          </a>
        
       
          <a href="mailto:{{user().email}}" class="coordinate">
            <span class="icon-mail coordinate-icon"></span>{{user().email}}
          </a>
        
      </div>
    </div>
  }

  
</ng-container>

</app-widget>