<form [formGroup]="structureForm" class="grid grid-cols-1 gap-medium" (ngSubmit)="onSave()">


    <fieldset class="sm:grid grid-cols-12 gap-medium">
      <div class="small-title-c col-span-full">
        <i class="icon-organization"></i>
        <div>Structure</div>
      </div>
    <app-input class="sm:col-span-12" formControlName="name" label="Nom de l'entreprise"></app-input>
    <app-input class="sm:col-span-6" formControlName="service" label="Service"></app-input>
    <app-input class="sm:col-span-6" formControlName="type" label="Type d'entreprise"></app-input>
  </fieldset>

    <fieldset class="sm:grid grid-cols-12 gap-small">
      <div class="small-title-c col-span-full">
        <i class="icon-mail"></i>
        <div>Coordonnées</div>
      </div>
  

      <!-- Champ d'input pour la valeur de la coordonnée -->

      <app-input class="sm:col-span-6" formControlName="phone" label="Téléphone"></app-input>
      <app-input class="sm:col-span-6" formControlName="email" label="Email"></app-input>

    </fieldset>

    <fieldset class="sm:grid grid-cols-12 gap-medium" formGroupName="address">

      <div class="small-title-c col-span-full">
        <i class="icon-location"></i>
        <div>Localisation</div>
      </div>
      <app-input class="sm:col-span-12" formControlName="streetL1" label="Adresse"></app-input>
      <app-input class="sm:col-span-12" formControlName="streetL2" label="Adresse (2)"></app-input>
      <app-input class="sm:col-span-4" formControlName="postcode" label="Code postal"></app-input>
      <app-input class="sm:col-span-4" formControlName="city" label="Ville"></app-input>
      <app-input class="sm:col-span-4" formControlName="country" label="Pays"></app-input>

  </fieldset>


  <div class="actions">
    <p-button [label]="structure()? 'Modifier la structure' : 'Ajouter la structure'" severity="secondary" icon="icon-check" iconPos="left" type="submit"></p-button>
    <a class="cancel" (click)="onCancel()">Annuler</a>
  </div>
</form>
