<app-widget-title title="Créer un compte" icon="icon-profile"></app-widget-title>

<form class="card-body sm:grid grid-cols-1 flex flex-col gap-medium" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <fieldset class="sm:grid grid-cols-12">
    <div class="small-title-c col-span-full">
      <i class="icon-idcard"></i>
      <div>Identifiants</div>
    </div>

    <div class="col-span-full sm:grid grid-cols-12 gap-small">
    <app-input class="col-span-6" formControlName="firstname" label="Prénom *"></app-input>
    <app-input class="col-span-6" formControlName="lastname" label="Nom *"></app-input>
  </div>
    <div class="col-span-full sm:grid grid-cols-12 gap-small">
    <app-input class="col-span-6" formControlName="login" label="Login *"></app-input>
    <p-floatLabel class="col-span-6 form-elem">
      <p-password formControlName="password" type="password"></p-password>
      <label>Mot de passe *</label>
    </p-floatLabel>
  </div>

  <span class="form-elem p-float-label col-span-full">
  <p-dropdown formControlName="jobType" [options]="JobTypeDropdown" ></p-dropdown>
  <label>Particulier ou professionnel *</label>
</span>
  </fieldset>

  @if (!isEmployee) {
  <fieldset formGroupName="address" class="card-body sm:grid grid-cols-2 flex flex-col">
    <div class="small-title-c col-span-full">
      <i class="icon-location"></i>
      <div>Localisation</div>
    </div>

    <app-input class="sm:col-span-12" formControlName="streetL1" label="Adresse *"></app-input>
    <app-input class="sm:col-span-12" formControlName="streetL2" label="Adresse (2)"></app-input>
    <div class="col-span-full sm:grid grid-cols-12 gap-small">
    <app-input class="sm:col-span-4" formControlName="postcode" label="Code postal *"></app-input>
    <app-input class="sm:col-span-4" formControlName="city" label="Ville *"></app-input>
    <app-input class="sm:col-span-4" formControlName="country" label="Pays *"></app-input>
  </div>
  </fieldset>
}
  @if (isEmployee) {

      <div class="small-title-link ">Rechercher une structure ou<a (click)="openAddStructure()"> créer une nouvelle structure</a></div>
      <div class="autocomplete-input-left-icon">
        <i class="icon-organization"></i>
       
      <span class="p-float-label form-elem ">
        <p-autoComplete 
                        [suggestions]="filteredStructures()"
                        (completeMethod)="filterStructures($event)"
                        field="name"
                        emptyMessage="Aucune suggestion"
                        appendTo="body"
                        [forceSelection]="true"
                        showClear="true">
                        <ng-template let-structure pTemplate="selectedItem">
                          <div>{{ structure.name }}</div>
                        </ng-template>
                        <ng-template let-structure pTemplate="item">
                          <div class="autocomplete-with-address">{{ structure.name }} <span class="small-italic" *ngIf="!!structure.address.streetL1 || structure.address.streetL2 || !!structure.address.postcode || !!structure.address.city ">({{structure.address.streetL1 || ''}} {{structure.address.postcode || ''}} {{structure.address.city || ''}})</span></div>
                        </ng-template>
        </p-autoComplete>
        <label>Rattacher une nouvelle structure</label>
      </span>

      </div>

    <app-form-dialog showHeader="false" (closeDialog)="resetFormDialog()" [visible]="isAddStructureModalOpen" size="xxlarge">
      <app-structure-form (saved)="structureCreated($event)" (cancel)="resetFormDialog()"></app-structure-form>
    </app-form-dialog>
  }
  <div class="actions">
  <p-button label="S'inscrire" severity="secondary" icon="icon-add" iconPos="left"
  [disabled]="registerForm.invalid || !structureLinked()" type="submit"></p-button>

</div>
</form>


<div class="card-footer flex justify-center">
  <a (click)="switchView.emit()">Déjà inscrit ? Connectez-vous ici !</a>
</div>


