<app-widget-title title="Créer un compte" icon="icon-profile"></app-widget-title>

<form class="card-body sm:grid grid-cols-1 flex flex-col gap-medium" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <fieldset class="sm:grid grid-cols-12">
    <div class="small-title-c col-span-full">
      <i class="icon-idcard"></i>
      <div>Identifiants</div>
    </div>

    <div class="col-span-full sm:grid grid-cols-12 gap-small">
    <app-input class="col-span-6" formControlName="firstname" label="Prénom *"></app-input>
    <app-input class="col-span-6" formControlName="lastname" label="Nom *"></app-input>
  </div>
    <div class="col-span-full sm:grid grid-cols-12 gap-small">
    <app-input class="col-span-6" formControlName="login" label="Login *"></app-input>
    <p-floatLabel class="col-span-6 form-elem">
      <p-password formControlName="password" type="password"></p-password>
      <label>Mot de passe *</label>
    </p-floatLabel>
  </div>

  </fieldset>


  <fieldset formGroupName="address" class="card-body sm:grid grid-cols-2 flex flex-col">
    <div class="small-title-c col-span-full">
      <i class="icon-location"></i>
      <div>Localisation</div>
    </div>

    <app-input class="sm:col-span-12" formControlName="streetL1" label="Adresse *"></app-input>
    <app-input class="sm:col-span-12" formControlName="streetL2" label="Adresse (2)"></app-input>
    <div class="col-span-full sm:grid grid-cols-12 gap-small">
    <app-input class="sm:col-span-4" formControlName="postcode" label="Code postal *"></app-input>
    <app-input class="sm:col-span-4" formControlName="city" label="Ville *"></app-input>
    <app-input class="sm:col-span-4" formControlName="country" label="Pays *"></app-input>
  </div>
  </fieldset>

  <div class="actions">
  <p-button label="S'inscrire" severity="secondary" icon="icon-add" iconPos="left"
  [disabled]="registerForm.invalid" type="submit"></p-button>

</div>
</form>


<div class="card-footer flex justify-center">
  <a (click)="switchView.emit()">Déjà inscrit ? Connectez-vous ici !</a>
</div>


