@import "@assets/knacss/mixin.scss";

.structure-info {

  .avatar {
    margin-right: 10px;
  }

  .structure-info-name {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .color-link {
      margin-left: auto;
    }
  }
  .dashed-hr {
    margin: 5px 0 10px 0;
  }
  .roles {
    display: flex;
    flex-wrap: wrap;
    padding-top: 4px;
    line-height: 1;
    width: 100%;
    gap: 4px;
  }

  .localisation {
    margin-bottom: 20px;
  }

  .localisation-main {

    span {
      text-decoration: underline;
    }

    a {
      text-decoration: none;
      font-size: 14px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 6px;
      width: fit-content;
    }

    i {
      font-size: 22px;
      text-decoration: none;

      @include md {
        font-size: 20px;
      }

      @include sm {
        font-size: 18px;
      }
    }

  }

  .names {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 400px;
  }

  .fullname {
    display: flex;
    text-transform: capitalize;
    font-size: 30px;
    line-height: 1;
    margin: 0;
    padding-right: 10px;
    @include md {
      font-size: 24px;
    }

    @include sm {
      font-size: 20px;
    }
  }

  .name {
    font-weight: bold;
  }
 
  .coordinates {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    position: relative;
    a {
      color: var(--primary-color)
    }
  }
  
  .contact-info {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    max-width: calc(100% - 140px);
    gap: 10px;
  }
  
  .signature {
    width: 140px;
    position: absolute;
    top: -40px;
    right: 0;
    height: auto;
  }
  
  .signature img {
    mix-blend-mode: multiply;
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  
  .coordinate {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .coordinate-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background-color: var(--yellow-color);
    color: var(--shade-000);
  }


}