.p-accordion {
    .p-accordion-header {
        .p-accordion-header-link {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            text-decoration: none;
            font-weight: normal;
            color: $textColor;
            transition: $listItemTransition;

          chevronrighticon {
            transform: rotate(180deg);
          }
          .p-accordion-toggle-icon {
                margin-left: $inlineSpacing;
                & svg {
                  width: 1rem;
                  height: 1rem;
                }
            }
        }


    }

    //.p-accordion-content {
    //    padding: $accordionContentPadding;
    //}

    p-accordiontab {
        .p-accordion-tab {
            margin-bottom: $accordionSpacing;
        }

        @if $accordionSpacing == 0 {
            .p-accordion-header {
                .p-accordion-header-link {
                    border-radius: 0;
                }
            }

            .p-accordion-content {
                border-radius: 0;
            }

            &:not(:first-child) {
                .p-accordion-header {
                    .p-accordion-header-link {
                        border-top: 0 none;
                    }

                }
            }

        }
    }
}
