@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'normalize.css/normalize.css';
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "./assets/primeng/theme/_variables.scss";
@import './assets/primeng/theme/_fonts';
@import './assets/primeng/theme/_components';
@import './assets/primeng/theme/_mixins';
@import "./assets/knacss/knacss.scss";
@import './assets/knacss/mixin.scss';
/* Règles globales pour le label lorsque l'input est non vide */
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: 500;
}

b {
  font-weight: 500;
}

input:-webkit-autofill + label {
  top: 1rem; /* Positionner le label au-dessus */
  font-size: 0.85rem; /* Réduire la taille du label */
  color: #666; /* Changer la couleur si besoin */
  transition: 0.3s ease;
}

.scroll-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.disable-user-select { // used for scrollbar overlay component when mouse is moving scrollbar
  user-select: none; 
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}


* {
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
    border-radius: 10px;
  }
}

.input-icon-left {

  i {
    color: $primaryColor;
  }
}

a {
  cursor: pointer;
}

.markerPane {
  z-index: -1;
}

.input-switch {
  width: fit-content;
  display: flex;
  
  label {
    line-height: 1;
    cursor: pointer;
    user-select: none;
  }
  label.active {
    color: $primaryColor;
  }
}
//colors of alerts
.icon-bell.icon-bell-level-3 {
  color: black;
}
.icon-bell.icon-bell-level-2 {
  color: var(--danger);
}
.icon-bell.icon-bell-level-1 {
  color: var(--shade-900);
}

.color-link {
  text-decoration: none;
  color: $primaryColor;
  font-size: 14px;
  display: flex;
  gap: 5px;
  align-items: center;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  @include md {
    font-size: 13px;
  }

  @include sm {
    font-size: 13px;
  }

  span {
    text-decoration: underline;
  }

  a,
  i {
    color: $primaryColor;
  }

  i {
    @include md {
      font-size: 17px;
    }

    @include sm {
      font-size: 17px;
    }
    font-size: 22px;
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;

    span {
      text-decoration: underline;
    }

    *,
    i {
      text-decoration: none;
      color: $primaryTextColor;
      transition: all 0.5s ease-in-out;

    }
  }
}

.color-link-underline {
  color: var(--primary-color);
  &:hover {
    color: var(--primary-text-color);
    transition: 0.25s ease-in-out;
  }
}
// colors of bell icon in warning-row etc
.warning-level-1 {
  color: var(--yellow-color)
}

.warning-level-2 {
  color: var(--danger);
}

.warning-level-3 {
  color: black;
}
//

.blue-link {
  font-size: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  cursor: pointer;

  a,
  i {
    color: $secondaryButtonBg;
  }

  i {
    position: absolute;
    left: 5px;
    font-size: 20px;
    text-decoration: none;
  }

  &:hover {
    * {
      color: $primaryTextColor;
      transition: all 0.5s ease-in-out;
    }
  }
}

.height-auto {
  height: fit-content;
}


.height-100 {
  height: 100%;
}

.height-50 {
  height: 50%;
}

i.disabled {
  pointer-events: none;
  opacity: 0.2;
  filter: (grayscale(100%));
}

// Remove min-height of filedset inherit from class widget
.grid {
  fieldset {
    height: fit-content;
    .widget {
      display: grid;
    }
  }
}

fieldset.grid {
  display: grid;
}

fieldset {
  height: fit-content;
}

fieldset.widget {
 min-height: fit-content;
}

.autocomplete-with-address {
  font-weight: 600;
  font-size: 15px;
  span {
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
  }
}
app-scrollbar-overlay  {
  --scrollbar-size: 7px;
}
// widget small title with icon

.small-title  {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  line-height: 1;
  gap: 6px;
  font-size: 19px;
  margin-bottom: 14px;
  @include md {
    font-size: 17px;
  }
  @include sm {
    font-size: 16px;
  }
  i, span {
    color: $primaryColor;
    grid-column: 1;
    width: 19px;
    @include md {
      width: 16px;
    }
    @include sm {
      width: 15px;
    }
  }

  small, .subtitle {
    font-size: 13px;
    @include sm {
      font-size: 12px;
    }
    font-style: italic;
    grid-column: 2;

    & i,
    & span {
      color: $primaryColor;
      font-weight: 600;
    }
  }
}
.small-title-link {
  font-size: 14px;

  @include md {
    font-size: 13px;
  }

  @include sm {
    font-size: 12px;
  }

  font-weight: 300;
  display: flex;
  gap: 4px;

  a {
    color: $primaryColor;

    &:hover {
      color: $primaryTextColor;
      transition: 0.25s ease-in-out;
    }
  }
}
// widget small title more div inside
.small-title-c {
  display: grid;
  grid-template-columns: 34px 1fr;
  align-items: center;
  line-height: 1;
  gap: 6px;
  font-size: 19px;
  margin-bottom: 14px;
  @include md {
    grid-template-columns: 24px 1fr;
    i {
      font-size: 20px;
    }
  }
  i {
    font-size: 30px;
    @include md {
      font-size: 17px;
    }
  }
  @include md {
    font-size: 17px;
  }

  @include sm {
    font-size: 16px;
  }
  .small-title {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .small-title-link {
    font-size: 14px;
    @include md {
      font-size: 13px;
    }
    @include sm {
      font-size: 12px;
    }
    font-weight: 300;
    display: flex;
    gap: 4px;
    a {
      color: $primaryColor;
      &:hover {
        color: $primaryTextColor;
        transition: 0.25s ease-in-out;
      }
    }
  }

  i {
    color: $primaryColor;
    grid-column: 1fr;
    width: 19px;

    @include md {
      width: 16px;
    }

    @include sm {
      width: 15px;
    }
  }

  small,
  .subtitle {
    font-size: 13px;

    @include sm {
      font-size: 12px;
    }

    font-style: italic;
    grid-column: 2;

    & i,
    & span {
      color: $primaryColor;
      font-weight: 600;
    }
  }
}
.small-title-link {
  font-size: 14px;
  @include md {
    font-size: 37px;
  }
  @include sm {
    font-size: 12px;
  }
  font-weight: 300;
  display: flex;
  gap: 4px;
  a {
    color: $primaryColor;
    &:hover {
      color: $primaryTextColor;
      transition: 0.25s ease-in-out;
    }
  }
}


/*********/
/* Forms */
/*********/
input,app-input {
  width: 100%;
}

fieldset {
  border: 0;
  padding: 15px 20px;
  background-color: var(--widget-color);
  border-radius: 5px;
  @include lg {
    padding: 10px 15px;
  }

  @include md {
    padding: 10px 15px;
  }

  @include sm {
    padding: 10px;
  }

  .title {
    font-size: 19px;

    @include md {
      font-size: 17px;
    }

    @include sm {
      font-size: 16px;
    }

    font-weight: 400;
  }

  i {
    color: $primaryColor;
  }
}

/***********/
/* buttons */
/***********/
.actions {
  display: flex;
  justify-content: center;
  align-items: center;

  @include sm {
    justify-content: space-between;
  }

  .p-button {
    margin: 10px 30px;

    @include sm {
      margin: 10px 15px;
    }
  }

  a,
  form {
    display: inline-block;
    margin: 10px 30px;

    @include sm {
      margin: 10px 15px;
    }
  }
}

// accordion action in widgets at bottom
.accordion-action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;

  button {
    height: 38px;
    width: 38px;
    border-radius: 5px;

    i {
      font-size: 22px;
      text-align: center;
      margin-left: -10px;
    }
  }

  a {
    color: $primaryColor;

    &:hover {
      color: $primaryTextColor;
      transition: all 0.5s ease-in-out;
    }
  }

  .accordion-link-icon {
    display: flex;
    align-items: center;
    gap: 4px;

    &:hover i {
      color: $primaryTextColor;
      transition: all 0.5s ease-in-out;
    }

    i {
      color: $primaryColor;

    }
  }
}
.action-add {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  gap: 12px;
  @media (min-width:1400px) and (max-width: 1919px) {
    font-size: 14px;
  }

  @include lg {
    font-size: 14px;
  }

  @include md {
    font-size: 14px;
  }

  @include sm {
    font-size: 13px;
  }

  margin-bottom: 0px;
  margin-top: -5px;

  &:after {
    content: "";
    display: block;
    height: 80px;
    width: 80px;
    margin-left: -15px;
    margin-right: -15px;
    background: var(--button-add) no-repeat;
    background-size: 100%;

    @media (min-width:1400px) and (max-width: 1919px) {
      height: 70px;
      width: 70px;
      margin-right: -15px;
      margin-left: -20px;
    }

    @include lg {
      height: 54px;
      width: 54px;
      margin-right: -15px;
      margin-left: -14px;
    }

    @include md {
      height: 54px;
      width: 54px;
      margin-right: -10px;
      margin-left: -20px;
    }
    @include sm {
      height: 54px;
      width: 54px;
      margin-right: -10px;
      margin-left: -20px;
    }
    
  }

  &:hover {
    text-decoration: underline;
    transition: 0.5s ease-in-out;
  }
}

.cancel {
  cursor: pointer;
  font-size: 16px;

  @include md {
    font-size: 14px;
  }

  @include sm {
    font-size: 13px;
  }
}

/*********/
/* TABLE */
/*********/
table {
  table-layout: auto;
}

/*********************/
/* Prime flex CUSTOM */
/*********************/
.form-elem {
  display: inline-block;
  width: 100%;

  textarea {
    width: 100%;
  }

  input {
    &[type="text"] {
      width: 100%;
    }

    &[type="number"] {
      width: 100%;
    }

    &[type="password"] {
      width: 100%;
    }
  }

  textarea,
  .p-dropdown,
  .p-calendar {

    textarea {
      width: 100%;
    }

    .p-dropdown {
      width: 100%;
    }

    small {
      font-size: 13px;
      position: absolute;
      left: 0;
      bottom: -18px;
    }

    &.p-input-icon-left small {
      left: nth($inputPadding, 2) * 2 + $primeIconFontSize;
    }

  }
}
app-input {
  width: 100%;
}
// input with icon at left
.input-icon-left {

  i {
    width: 20px;
    font-size: 30px;
    @include md {
      font-size: 22px;
    }
    @include sm {
      font-size: 22px;
    }
    color: $primaryColor;
  }
}

//p-menu with ng-template //////  WRONG FILE !!!
.p-menu-template {
  padding: 0px;

  li {
    padding: 10px 20px;
    cursor: pointer;

    i,
    span {
      margin-right: 6px;
    }

    a {
      text-decoration: none;
      color: $textColor;
    }

    &:hover {
      background-color: $shade200;
    }
  }
}

/**********/
/* icones */
/**********/
.icon-menu {
  cursor: pointer;
  font-size: 14px;

  @include md {
    font-size: 13px;
  }

  @include sm {
    font-size: 12px;
  }
}