

  <div class="l-content" [ngClass]="showMap() && mapIntegration() ? 'widget-map' : 'widget-no-map'">

    <div class="widget items">

      <header>
        <div class="flex">
          <div class="input-switch map-switch" *ngIf="mapIntegration()">
            <p-inputSwitch inputId="mapSwitch" [ngModel]="showMap()" (ngModelChange)="toggleShowMap()"></p-inputSwitch>
            <label [ngClass]="{ 'active': showMap() }" for="mapSwitch">Voir la carte</label>
          </div>
          <p-dropdown class="dropdown-sorting-list" [options]="sortOptions()" placeholder="Trier par ..."
            optionLabel="label" [(ngModel)]="selectedOptions">

            <ng-template pTemplate="selectedItem">
              @if (selectedOptions?.filter?.includes('desc')) {
              <i class="icon-sort-down"></i>
              {{ selectedOptions.label }}
              } @else if (selectedOptions?.filter){
              <i class="icon-sort-up"></i>
              {{ selectedOptions.label }}
              }
            </ng-template>

            <ng-template let-sortOption pTemplate="item">
              <div>{{ sortOption.label }} {{ sortOption.order }}</div>
            </ng-template>

            <ng-template pTemplate="dropdownicon">
              <i class="icon-down"></i>
            </ng-template>
            
          </p-dropdown>
          @if(showCreateButton()) {
            <a class="action-add" leaveToClass="hidden" leaveActiveClass="fadeoutright"
              (click)="onDisplayNewItem()"><span>{{actionAddTitle()}}</span></a>
          }
      </div>

   
      <div class="input-switch">
        <p-inputSwitch inputId="showArchive" [ngModel]="hideArchive()" (ngModelChange)="toggleShowArhive()"></p-inputSwitch>
        <label [ngClass]="hideArchive() ? 'active' : ''" for="showArchive">Exclure les archives</label>
      </div>

    </header>

        <div class="scroll-list">
          @if (itemCount > 0) {
            @for (item of items(); track item.id) {
              <div class="items-card">
                <ng-container [ngTemplateOutlet]="rowTemplate" [ngTemplateOutletContext]="{ item: item }"></ng-container>
              </div>
            }
          } @else {
            @if (loading()) {
              <div class="scroll-loading">Chargement des données en cours...</div>
            } @else {
              @if (items().length === 0) {
                Aucun résultat à afficher
              }
            }
          }
        </div>
        

        <p-paginator #paginator class="paginator" 
          (onPageChange)="onPageChange($event)"
          [first]="first"
          [rows]="rows"
          [totalRecords]="itemCount"
          [showCurrentPageReport]="!!itemCount"
          [rowsPerPageOptions]="[20, 50, 100]"
          currentPageReportTemplate="{first} - {last} sur {totalRecords}"
          appendTo="body"
          />
        <!-- small version of paginator for mobile -->
        <p-paginator #paginator class="paginator-sm"
          (onPageChange)="onPageChange($event)"
          [first]="first"
          [rows]="rows"
          [totalRecords]="itemCount"
          [showCurrentPageReport]="!!itemCount"
          [showPageLinks]="false"
          [showJumpToPageDropdown]="false"
          currentPageReportTemplate="{first} - {last} sur {totalRecords}"
          appendTo="body"
          />
      
    </div>

    <div class="map" leaflet *ngIf="mapIntegration()" [leafletOptions]="mapOptions" [leafletLayers]="itemsMarkers"
    (leafletMapReady)="onMapReady($event)" [ngClass]="showMap() ? 'map-map' : 'map-no-map'"></div>

  </div>
