.p-paginator {
  background: $paginatorBg;
  color: $paginatorTextColor;
  border: $paginatorBorder;
  border-width: $paginatorBorderWidth;
  padding: 0;
  margin-bottom: -3px;
  border-radius: $borderRadius;


  .p-paginator-first,
  .p-paginator-prev,
  .p-paginator-next,
  .p-paginator-last {
      background-color: $paginatorElementBg;
      border: $paginatorElementBorder;
      color: $paginatorElementIconColor;
      min-width: $paginatorElementWidth;
      height: $paginatorElementHeight;
      margin: $paginatorElementMargin;
      transition: $listItemTransition;
      border-radius: $paginatorElementBorderRadius;

      &:not(.p-disabled):not(.p-highlight):hover {
          background: $paginatorElementHoverBg;
          border-color: $paginatorElementHoverBorderColor;
          color: $paginatorElementIconHoverColor;
      }
  }

  .focus {
      .p-dropdown {
          margin-left: $inlineSpacing;
          margin-right: $inlineSpacing;
          height: $paginatorElementHeight;
          box-shadow: none;

          .p-dropdown-label {
              padding-right: 0;
              margin: auto;
              display: flex;
              justify-content: center;
              box-shadow: none;
          }
      }
  }

  .p-paginator-first {
      border-top-left-radius: $paginatorElementBorderRadius;
      border-bottom-left-radius: $paginatorElementBorderRadius;
  }

  .p-paginator-last {
      border-top-right-radius: $paginatorElementBorderRadius;
      border-bottom-right-radius: $paginatorElementBorderRadius;
  }

  .p-dropdown {
      margin-left: 0;
      margin-right: $inlineSpacing;
      height: $paginatorElementHeight;
      max-width: 70px;
      * {
          font-size: 14px;
      }

      .p-dropdown-label {
          padding-right: 0;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          box-shadow: none;
          margin-right: -8px;
      }
  }

  .p-paginator-page-input {
      margin-left: $inlineSpacing;
      margin-right: $inlineSpacing;

      .p-inputtext {
          max-width: $paginatorElementWidth;
      }
  }

  .p-paginator-current {
      background-color: $paginatorElementBg;
      border: $paginatorElementBorder;
      color: $paginatorElementIconColor;
      min-width: $paginatorElementWidth;
      height: $paginatorElementHeight;
      margin: $paginatorElementMargin;
      font-size: 13px;

  }

  .p-paginator-pages {
      .p-paginator-page {
          background-color: $paginatorElementBg;
          border: $paginatorElementBorder;
          color: $paginatorElementIconColor;
          min-width: $paginatorElementWidth;
          height: $paginatorElementHeight;
          margin: $paginatorElementMargin;
          transition: $listItemTransition;
          border-radius: $paginatorElementBorderRadius;
          font-size: 13px;

          &.p-highlight {
              background: $highlightBg;
              border-color: $highlightBg;
              color: white;
              box-shadow: none;
          }

          &:not(.p-highlight):hover {
              background: $paginatorElementHoverBg;
              border-color: $paginatorElementHoverBorderColor;
              color: $paginatorElementIconHoverColor;
          }
      }
  }
}