@if (!!users()) {
<div class="user-list">
  <div class="list-and-map">
    <div class="scroll-list">
      @for  (user of users(); track user.id) {
        <app-user-row [user]="user" (click)="displayUserView.emit(user.id)"></app-user-row>
      }
    </div>
    <div id="mapId" leaflet [leafletOptions]="mapOptions" (leafletMapReady)="onMapReady($event)"></div>

    <p-paginator #paginator class="paginator" 
    (onPageChange)="onPageChange($event)"
    [first]="first"
    [rows]="rows"
    [totalRecords]="itemCount"
    [showCurrentPageReport]="!!itemCount"
    [rowsPerPageOptions]="[20, 50, 100]"
    currentPageReportTemplate="{first} - {last} sur {totalRecords}"
    appendTo="body"
    />
</div>

</div>
}

<!-- <app-list-and-map
  [mapMarkersWrapper]="mapMarkersWrapper"
  [mapIntegration]="false"
  [actionAddTitle]="'Nouvel équipement'"
  >
  <ng-template #row let-item="item">
    <app-user-row [user]="item" (click)="displayUserView.emit(item.id)" class="item" />
  </ng-template>
</app-list-and-map> -->