.user-list {
  height: 100%;
  overflow-x: hidden;
}
.list-and-map {
  display: grid;
  grid-template-columns: 3fr 2fr;
  height: 100%;
}
app-user-row {
  width: 100%;
}
.scroll-list {
  height: 100%;
  overflow-y: auto;
}
#mapId {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.isloading {
  display: none;
}