<div class="user-list">
@if (!!users()) {
  <div class="list-and-map">
    <div class="scroll-list">
      @for  (user of users(); track user.id) {
        <app-user-row [user]="user" (click)="displayUserView.emit(user.id)"></app-user-row>
      }
    </div>
    <div id="map" leaflet [leafletOptions]="mapOptions" [leafletLayers]="itemsMarkers"></div>
</div>
  <!-- <p-paginator #paginator class="paginator" 
  (onPageChange)="onPageChange($event)"
  [first]="first"
  [rows]="rows"
  [totalRecords]="itemCount"
  [showCurrentPageReport]="!!itemCount"
  [rowsPerPageOptions]="[20, 50, 100]"
  currentPageReportTemplate="{first} - {last} sur {totalRecords}"
  appendTo="body"
  /> -->

}
</div>